.c-camp{
	&-inn{
		h3{
			@include xl{
				font-size: 24px;
    			line-height: 30px;
			}
			@include xxl{
				font-size: 22px;
    			line-height: 26px;
				margin-bottom: 3px;
			}
		}
		.c-formbox{
			&-text{
				h3{
					@include xl{
						font-size: 16px;
						line-height: 22px;
						margin-bottom: 10px;
					}
				}
				.file-input{
					@include xl{
						margin-bottom: 0;
					}
					.btn{
						@include xl{
							padding: 10px 20px;
							font-size: 14px;
							line-height: 20px;
						}
					}
				}
			}
		}
		.c-tagbox{
			&-sec{
				.styled-checkbox+label{
					@include xl{
						font-size: 14px;
					}
				}
			}
		}
	}
	&-list{
		h3{
			@include xl{
				font-size: 16px;
				line-height: 22px;
				margin-bottom: 10px;
			}
			@include xxl{
				font-size: 15px;
				line-height: 20px;
			}
		}
		p{
			@include xl{
				font-size: 12px;
				line-height: 16px;
			}
			@include xxl{
				font-size: 10px;
				line-height: 14px;
			}
		}
	}
}